.homeHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
}

.headerMainBlock {
  display: flex;
  flex-direction: column;
  line-height: 36px;
  margin-bottom: 1rem;
}
.homeHeader h1 {
  font-size: 2.8rem;
}
.homeHeader h3 {
  color: var(--deepGold);
  font-size: 1.8rem;
}

.subheader {
  font-weight: 800;
  text-wrap: balance;
  margin-top: 0.8rem;
}

p.blah {
  text-align: justify;
  max-width: 90%;
}

.homeHeader p {
  width: 100%;
  text-wrap: balance;
  text-align: center;
}
