.golden {
  color: var(--deepGold);
}

.successHeader {
  font-size: 32px;
  text-align: center;
}

.successBlock {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 60%;
  text-align: center;
}
